body {
    display: block;
    flex-wrap: wrap;
    /* background: url("./assets/images/image3.png"); */
    background-color: hsl(217, 71%, 45%);
    justify-content: space-around;
    margin: 20px  hsl(217, 71%, 45%);
}

.title{

    color: white;
    font-family: 'Girassol', cursive;


}
.input {
    display: flex;
    position: relative;
    align-items: center;
 justify-content: center;
 margin-left:640px;
 margin-top:10px;
flex-wrap:wrap;
}

.image img {

    max-width: 950px;
    padding: 12px
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar {
    display: flex;
    justify-content: space-around;
    background-color: hsl(217, 71%, 45%);


}

a {
    justify-content: space-around;
    color: white;
    font-family: 'Girassol', cursive;
    margin: 12px;

}

h2 p{
    color: white;
    font-family: 'Girassol', cursive;

}
.footer{
    font-family: 'Girassol', cursive;
    background-color: hsl(217, 71%, 45%);
    color:white;
    font-size:x-large;
    margin-left: 790px;
}

h2 {
    justify-content: space-around;
    color: white;
    font-family: 'Girassol', cursive;
    margin: 8px;
}
caption{

    justify-content: space-around;
    color: white;
    font-family: 'Girassol', cursive;
    margin: 12px;
}
article:hover {

    box-shadow: 10px 5px 5px black;
    opacity:75%;
}