body  {

    background-color:rgb(39, 104, 223);
}





h1 {
    font-family: "Raleway", Arial, sans-serif;
    letter-spacing: 6px





}

.w3-row-padding img {margin-bottom: 12px}

footer {

   background-color:rgb(15, 28, 207);
}